<!-- marketing section start-->
<div class="marketing_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="job_section">
                    <h1 class="jobs_text">Thành Phố Thái Nguyên</h1>
                    <p class="dummy_text">Thái Nguyên là thành phố tỉnh lỵ của tỉnh Thái Nguyên, nằm bên bờ sông Cầu, là
                        một trong những thành phố lớn ở miền Bắc Việt Nam.

                        Thành phố Thái Nguyên là trung tâm của vùng trung du và miền núi phía Bắc. Thành phố Thái Nguyên
                        được thành lập vào năm 1962 và là một thành phố công nghiệp, thành phố luyện kim lớn nhất cả
                        nước. Thành phố Thái Nguyên từng là thủ phủ của Khu tự trị Việt Bắc trong suốt thời kỳ tồn tại
                        của khu tự trị này (1956 - 1965). Ngoài ra, thành phố Thái Nguyên được cả nước biết đến là một
                        trung tâm đào tạo nguồn nhân lực rất lớn.[5]

                        Theo số liệu tổng điều tra dân số năm 2019, thành phố Thái Nguyên đứng thứ 7 trong tổng số 19 đô
                        thị loại I trực thuộc tỉnh về quy mô dân số.</p>
                    <div class="apply_bt"><a href="#">Apply now</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image_1 padding_0"><img src="assets/images/img-1.png"></div>
            </div>
        </div>
    </div>
</div>
<!-- marketing section end-->
<!-- Industrial section start-->
<div class="marketing_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="image_1 padding_0" style="width: 550px;"><img src="assets/images/img-2.png"></div>
            </div>
            <div class="col-md-6">
                <div class="job_section_2">
                    <h1 class="jobs_text">Bản đồ Thái Nguyên</h1>
                    <p class="dummy_text">Thành phố Thái Nguyên là đô thị loại I trực thuộc tỉnh Thái Nguyên, là trung
                        tâm chính trị, kinh tế, văn hóa, giáo dục, khoa học - kỹ thuật, y tế, du lịch, dịch vụ của tỉnh
                        Thái Nguyên và vùng trung du miền núi phía Bắc; trung tâm vùng trung du, miền núi Bắc Bộ, cách
                        trung tâm thủ đô Hà Nội 80 km, có vị trí địa lý:

                        Phía đông giáp huyện Đồng Hỷ và huyện Phú Bình
                        Phía tây giáp huyện Đại Từ
                        Phía nam giáp thành phố Sông Công và thành phố Phổ Yên
                        Phía bắc giáp huyện Phú Lương.
                        Thành phố Thái Nguyên có diện tích 222,93 km², dân số năm 2017 là 362.921 người, mật độ dân số
                        đạt 1.628 người/km².</p>
                    <div class="apply_bt"><a href="#">Apply now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Industrial section end-->
<!-- Corporate section start-->
<div class="marketing_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="job_section">
                    <h1 class="jobs_text">Biến động diện tích Tỉnh Thái Nguyên 2011-2021</h1>
                    <p class="dummy_text">Biểu đồ trên thể hiện sự biến động từ năm 2011 đến 2021
                        <br>
                        Theo niên giám thống kê Tỉnh Thái Nguyên 2021
                    </p>
                    <div class="apply_bt"><a href="#">Apply now</a></div>
                </div>
            </div>
            <div class="col-md-6 padding_0">
                <div class="image_1"><img src="assets/images/img-3.png"></div>
            </div>
        </div>
    </div>
</div>
<!-- Corporate section end-->
<!-- Government section start-->
<div class="marketing_section layout_padding">
    <div class="container">
        <div class="row">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118727.02084705586!2d105.72108771643406!3d21.57735733574978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313526e41a2f48ff%3A0x9af085049fb0466f!2zVHAuIFRow6FpIE5ndXnDqm4sIFRow6FpIE5ndXnDqm4sIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1685524340211!5m2!1svi!2s"
                width="1520" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<!-- Government section end-->